# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.CortisolDemo.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\CortisolDemo\.idea\.idea.CortisolDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
