# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CartisolDemo.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\CartisolDemo\.idea\.idea.CartisolDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
